@{
    ViewBag.Title = "Aktualisieren";
}

<div ng-controller="RefreshCtrl">
    <div ng-bind="head" style="font-size:30px;">Logdateien werden eingelesen</div>
    <br />
    <div ng-bind="body"></div>
</div>