@{
    ViewBag.Title = "Testlauf " + ViewBag.RunId;
}

<div ng-controller="RunCtrl">
        <div id="form-container" style="padding: 0 20px 0 20px">
            <div id="form" dx-form="formOptions"></div>
        </div>
    <div dx-data-grid="gridTestRun"></div>
</div>