@{  
ViewBag.Title = "Welcome";  
}  
  
<style>  
table, tr, td, th {  
border: 1px solid #ccc;  
padding: 10px;  
margin: 10px;  
}  
</style> 
<body data-ng-app="APIModule">  
    <div id="tblSubs" ng-controller="APIController">  
        <table>  
            <tr>  
                <th>AppArea</th>  
                <th>ServerName</th>   
            </tr>  
            <tr>  
                <td>1</td>  
                <td>2</td>  
            </tr>  
            <tbody data-ng-repeat="sub in appruns">  
                <tr>  
                    <td>{{sub.AppArea}}</td>  
                    <td>{{sub.ServerName}}</td>  
                </tr>  
            </tbody>  
        </table>  
    </div>  
</body>  
<script src="~/customscripts/Controller.js"></script> 