@{  ViewBag.Title = "Welcome";  }  
  
<body>  
    <div id="tblSubs" ng-controller="DatabaseCtrl">  
        <table>  
            <tr>  
                <th>AppArea</th>  
                <th>ServerName</th>   
            </tr>  
            <tr>  
                <td>1</td>  
                <td>2</td>  
            </tr>  
            <tbody data-ng-repeat="sub in appruns">  
                <tr>  
                    <td>{{sub.AppArea}}</td>  
                    <td>{{sub.ServerName}}</td>  
                </tr>  
            </tbody>  
        </table>  
    </div>  
</body>