@{  ViewBag.Title = "Dashboard";  }  
  
<body>  
    <div id="tblSubs" ng-controller="DatabaseCtrl">  
          <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
        <div data-bind="dxDataGrid: grid"></div>
    </div>  
</body>