@{
    ViewBag.Title = ViewBag.Id;
}

<div ng-controller="AppAreaCtrl">
    <h2>AppArea @Html.Raw(ViewBag.Id) </h2>
    <br />
    <div id="gridContainer" dx-data-grid="gridCurrentAppArea"></div>
</div>
